<!DOCTYPE html>
<html ng-app="ChatApp">
    <head>
        <title>Chat</title>

        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <script>
            global.gui = require('nw.gui');

            // load debugger on ctrl+shift+j
            document.addEventListener('keypress', function (e) {
                if (e.shiftKey && e.ctrlKey && e.keyCode === 10) {
                    global.gui.Window.get().showDevTools()
                }
            });

            window.addEventListener("offline", function(e) {alert("offline");})
            window.addEventListener("online", function(e) {alert("online");})
        </script>

    </head>
    <body>
        <div class="main-container" >
            <div class="roster-container" ng-controller="RosterController">
                <div class="threads group">
                    <div class="group-header">Threads</div>
                    <div class="thread"  ng-repeat="thread in threadMap">
                        <div user="thread.user" ng-click="userClicked(thread.user)"></div>
                        <span class="close-thread glyphicon glyphicon-remove" ng-click="closeThread(thread)"></span>
                    </div>
                </div>
                <div class="group" ng-repeat="group in groups | orderBy:'name'">
                    <div ng-click="collapsed=!collapsed;" class="group-header">{{group.name}} <span class="group-toggle caret"></span></div>
                    <div ng-hide="collapsed" class="user-list">
                        <div user="user" ng-click="userClicked(user)" ng-hide="user.state=='offline'" ng-repeat="user in group.users | orderBy:['-state','name']"></div>
                    </div>
                </div>
            </div>
            <div class="messages-container" ng-controller="MessagesController">
                <div ng-show="selectedThread">
                    <div class="chat-header">
                        <div class="pull-left" user="selectedThread.user"></div>
                        <div class="pull-right">{{selectedThread.user.chatState}}</div>
                    </div>
                    <div class="messages-list">
                        <div class="chat-message" ng-repeat="message in selectedThread.messages">
                            <div class="chat-message-text">{{message.text}}</div>
                            <div class="chat-message-timestamp">{{message.timestamp | date:'shortTime'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui/build/angular-ui.js"></script>
        <script src="js/directives/user.js"></script>
        <script src="js/app.js"></script>
        <script src="js/rosterController.js"></script>
        <script src="js/messagesController.js"></script>

    </body>
</html>